@mixin lightTheme{
    --clr-primary-400: hsl(49, 94%, 45%);
    --clr-primary-300: hsl(49, 90%, 92%);
    --clr-primary-text-400: hsl(213, 15%, 14%);
    --clr-primary-text-300: hsl(214, 10%, 57%);
    --clr-primary-text-100: hsl(0, 0%, 100%);
    --clr-secondary-400: hsl(216, 14%, 93%);
    --clr-background: hsl(0, 0%, 98%);
}

@mixin darkTheme {
    --clr-primary-400: hsl(49, 92%, 59%);
    --clr-primary-300: hsl(38, 97%, 12%);
    --clr-primary-text-400: hsl(216, 14%, 93%);
    --clr-primary-text-300: hsl(214, 10%, 57%);
    --clr-primary-text-100: hsl(0, 0%, 100%);
    --clr-secondary-400: hsl(217, 10%, 55%);
    --clr-background: hsl(210, 21%, 5%);
}

@mixin fromTablet{
    @media(min-width: 50em){
        @content;
    }
}