@import './mixins';
:root{
   --ff-primary: 'Inter', sans-serif;

   --fs-400: 1.8rem;
   --fs-300: 1.5rem;
   --fs-300: 1rem;
   --fs-100: 0.75rem;

   --fw-bold: 500;
   --fw-regular: 400;
   --fw-light: 300;

   @include fromTablet{
    --fs-400: 2.4rem;
    --fs-300: 2.5rem;
    --fs-300: .96rem;
    --fs-100: .89rem;
    --pp:hsl(235, 16%, 15%);
   }
}