@import './mixins';
:root{
   --ff-primary: 'Inter', sans-serif;

   --fs-400: 2.25rem;
   --fs-300: 1.5rem;
   --fs-100: 0.75rem;

   @include fromTablet{
    --fs-400: 2.5rem;
    --fs-300: 2.5rem;
    --fs-100: 1rem;
   }
}