.dashboard{
    width: 100%;
    height: 100%;
    position: relative;

    --sidebar-width: 260px;

    .dashboard__sidebar{
        width: var(--sidebar-width);
        height: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        background: #FFFFFF;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        z-index: 2;
        transition: 200ms ease-in-out all;
        flex-direction: column;
        display: flex;
        &.sidebar{
            .sidebar__logo{
                width: 120px;
                height: 24px;
                margin-inline: auto;
                margin-block: 3.3em;
                .logo{
                    transition: 200ms ease-in all;
                    &:hover{
                        fill: var(--clr-primary-400);
                    }
                }
            }
            .sidebar__header{
                text-align: center;
                
                img{
                    margin-inline: auto;
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    object-fit: fill;
                    object-position: center;
                }
                p{
                    font-size: .7rem;
                }

                &>*+*{
                    margin-top: .3em;
                }
            }
            .sidebar__wrap{
               
                padding-block: 1.3em;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap:1em;
                overflow: hidden;
                flex-grow: 1;

                li{
                    transition: 200ms all ease-in;

                    &:hover{
                        $black : #000000;
                        transform: scaleX(1.1);
                        color:  var(--clr-primary-text-400);
                        background-color: rgba($black, .1);
                        border-radius: 6px;

                    }
                }

                li a{
                    padding-block: .7em;
                    padding-inline: .3em;
                    justify-content: flex-start;
                }

                .sidenav__list{
                    flex: 1;
                    overflow: auto;
                    padding-inline: 2em;
                }

                .sidenav__bottom{
                    padding-inline: 2em;
                }
            }
        }
    }

    .dashboard__layout{
        width: calc(100% - var(--sidebar-width));
        height: 100vh;
        overflow-y: scroll;
        position: relative;
        left: var(--sidebar-width);
        background-color: white;
        padding: 1em;
        transition: 200ms ease-in-out all;
    }
}

.appbar{
    width:100%;
    padding: 2em 1em;
    display: flex;
    justify-content: space-between;

    &__left{
        h3{
            font-size: 1.4rem;
        }
    }

    &__right{
        
        .input_wrap{
            background-color: #F9F9F9;
            border-radius: .3em;
            padding: .4em .8em;
            input{
                border: none;
                outline: none;
                background: transparent;
                color: var(--clr-primary-text-400);

                &::placeholder{
                    color: #B3B3B3;
                }
            }
        }

        div:nth-child(2){
            background-color: #F9F9F9;
            border-radius: .3em;
            padding: .4em .8em;
        }
    }
}

body.hide-sidbar{
    --sidebar-width: 260px;
    .dashboard__sidebar{
       left: calc(-1 * var(--sidebar-width))
    }

    .dashboard__layout{
        left:0;
        width: 100%;
    }
}


// Main content

.d-main{
    display: grid;
    grid-template-columns: 3.5fr 1.5fr;
    gap: 1em;
    align-items: start;

    .summary{
        gap: 2em;
        &__card{
            padding: 2em;
            border: 1px solid rgba(#CCCCCC, 0.3);
            flex: 1;
            color: var(--clr-primary-text-400);
            background-color: #FFFFFF;
            border-radius: .4em;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            .first_row, .second_row{
                display: flex;
                justify-content: space-between;
                align-items: center;

                i{
                    font-size: 2rem;
                    color: var(--clr-primary-text-300);
                }
            }
            .first_row{
                align-items: center;
                p{
                    font-size: .83rem;
                }
            }
            .second_row{
                align-items: baseline;
                p{
                    font-size: 1.2rem;
                    font-weight: 700;
                }
                span{
                    font-size: .7rem;
                    color: green;
                }
            }

            &>*+*{
                margin-top: 2em;
            }
            // &:hover{
            //     background-color: black;
            // }
            &:nth-child(1){
                background-color: black;
                color: #FFF;
                .second_row > span{
                    color: white;
                }

            }
        }
    }

    .chart{
        min-height: 250px;
        padding: 2em;
        border: 1px solid rgba(#CCCCCC, 0.3);
        color: var(--clr-primary-text-400);
        background-color: #FFFFFF;
        border-radius: .4em;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

        h2{
            margin-bottom: 2em;
        }

        &.stst{
            margin-top: 4em;
            h2{
                margin-bottom: 0;
            }
            .lnnn{
                display: flex;
                justify-content: space-between;
                align-items: center !important;
                margin-bottom: .8em;
                .flex{
                    gap: .5em;

                    button{
                        padding: .4em .7em;
                        outline: none;
                        background: white;
                        border: .7px solid grey;
                        border-radius: .4em;
                        cursor: pointer;

                        &.active{
                            background-color: var(--clr-primary-text-400);
                            color: white;
                        }
                    }
                }
            }
        }
    }
}



// sales
.sales{
    margin-top: 2em;
    padding: 2em;
    border: 1px solid rgba(#CCCCCC, 0.3);
    color: var(--clr-primary-text-400);
    background-color: #FFFFFF;
    border-radius: .4em;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

    &__head{
        justify-content: space-between;
        margin-bottom: 1em;
    }
    &__list{
        .flx-item{
            display: flex;
            justify-content: space-between ;
            align-items: center;
            margin-bottom: 1.5em;
            .inw{
                gap:1em;
                img{
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                }
                p{
                    color: var(  --clr-primary-text-300);
                    font-size: .8em;
                }
            }
        }
    }
}

// sub tab
.sub-tab{
    
    overflow: hidden;
    border: 1px solid rgba(#CCCCCC, 0.3);
    color: var(--clr-primary-text-400);
    background-color: #FFFFFF;
    border-radius: .4em;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

    &__head{
        justify-content: space-between;
        margin-block: 2em;

        h2{
            font-weight: var(--fw-bold);
        }

        a{
            color: var(  --clr-primary-text-300);
        }
    }

}


:where(.css-dev-only-do-not-override-15rg2km).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-15rg2km).ant-table-wrapper .ant-table-thead >tr>td {
    background: transparent !important;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-table-wrapper .ant-table-tbody >tr >th, :where(.css-dev-only-do-not-override-15rg2km).ant-table-wrapper .ant-table-tbody >tr >td {
    border-bottom: 1px dashed #f0f0f0;
}