@use '../component/hero';
@use '../component/trade_banner';
@use '../component/popular';
@use '../component/portfolio';
@use '../component/daily_tokens';
@use '../component/explore';
@use '../component/trusted';
@use '../component/trade_anytime';
@use '../component/help';
@use '../component/earn_today';