@import '../abstract/mixins';

.popular{
    margin-top: 4em;

    &__heading{
        justify-content: flex-start;

        &>div{
            display: none;
        }

        @include fromTablet{
            justify-content: space-between;

            &>div{
                display: flex;
            }
        }

    }
}